{% extends 'base.html.twig' %}

{% block title %}UI App{% endblock %}

{% block body %}
    <main class="example-wrapper">
        <h1>UI App (Name to be defined)</h1>

        <nav>
            <ul>
                <li><a href="{{ path('app_component_index') }}">Component</a></li>
            </ul>
        </nav>
    </main>
{% endblock %}
